<section class="pages">

	<h1>Cardio</h1>

	<p>The conclusions on this page are sourced from a <%= link_to "blog post by Layne Norton", "http://www.biolayne.com/contest-prep/best-form-of-cardio-for-bodybuilding", target: '_blank' %>. It explains the differences of High Intensity Interval Training (HIIT) and Low Intensity Steady State (LISS) cardio.</p>

	<h2>Cliffs</h2>

	<ul>
	<li>HIIT is superior to LISS for strength, hypertrophy and fat loss.</li>
	<li>HITT has no negative impact on strength and hypertrophy development.</li>
	<li>Do HIIT that closely mimics the movements you do in exercises, e.g. sprints for squats, rowing for upper body movements.</li>
	</ul>


	<h2>Does the type of cardio matter (HIIT vs LISS)?</h2>

	<p>Yes, for example, sprinting is quite a bit different than endurance running and was found to be superior for hypertrophy due to the hip flexion required during sprinting, as it closely mimics the movements in exercises like the squat.</p>

	<p>While long distance running and walking resulted in strength and hypertrophy losses, sprinting did not, most likely due to the fact that sprinting requires significant hip flexion and is more similar to multi-joint leg exercises.</p>

	<h2>Does the type of HIIT matter (sprints vs rowing)?</h2>

	<p>The effects of cardio on strength and hypertrophy are body part specific. That is, lower body cardio did not have negative effects on hypertrophy and strength development of upper body parts.</p>

	<p>It has been demonstrated that rowers who added high intensity resistance training (with rows) to their routine had similar strength and hypertrophy gains compared to a group of non-rowers who followed the same resistance training protocol.</p>

	<p>In terms of the best types of cardio, it appears that you should do cardio that most closely mimics movements performed during resistance training.</p>

	<h2>Does it matter how long I do cardio for?</h2>

	<p>Yes, the longer the bout of cardio, the greater the impairment of strength and hypertrophy. Short, high intensity bouts of cardio like repeated sprinting had no negative impact on strength and hypertrophy development.</p>

	<p>This is most likely due to the increased hip flexion as discussed above and because high intensity sprinting or cycling causes your muscles to make high velocity contractions, activating fast twitch muscle fibers compared to endurance cardio work which most likely will not activate the large fast twitch muscle fibers.</p>

	<blockquote><p>Go down to a track meet and check out the legs on a sprinter and then check out the legs on an endurance runner or power walker and tell me which type of cardio is better for optimising muscle.</p></blockquote>

	<h2>Is HIIT better for strength and size gains?</h2>

	<p>Yes, not only is short duration, high intensity cardio better for strength and hypertrophy, it was also superior for fat loss. To quote the researchers:</p>

	<blockquote><p>Maximizing intensities, which are ideal for fat metabolism during an exercise, may not be ideal for maximizing fat metabolism in the long term. Research indicates that increases in metabolic rate after exercise increases exponentially with increasing intensity.</p></blockquote>
</section>