// --- compass: settings ----------------------------------------------------------------------------------------------

$legacy-support-for-ie: false;
$legacy-support-for-mozilla: false;


// --- compass --------------------------------------------------------------------------------------------------------

@import "compass/css3";

// --- core: variables ------------------------------------------------------------------------------------------------

$ui-base-color: #1d1d1d !default;
$ui-base-color-opposite: #fff !default;
$ui-border-width: 2px !default;

$ui-font-color: $ui-base-color !default;
$ui-font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

$ui-button-height: 35px !default;
$ui-input-height: $ui-button-height !default;
$ui-select-height: $ui-button-height !default;

// --- core: page variables -------------------------------------------------------------------------------------------

$page-width: 800px !default;
$form-width: 425px !default;

// ---- pages

.hello {
  max-width: $page-width;
  margin: 50px auto 0;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  .logo {
    text-align: center;
    margin-bottom: 50px;
  }
  div {
    text-align: center;
    margin-top: 65px;
  }
  h1 {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
  }
}

.content {
  max-width: $page-width;
  margin: 50px auto 0;
  h1 {
  	margin-bottom: 0;
  }
  h3 {
  	margin-top: 0;
  }
  .add {
		text-align: center;
		margin: 16px 0;
	}
}

.form {
	max-width: $form-width;
  margin: 50px auto 16px;
  h1 {
  	margin-bottom: 0;
  }
  div {
  	padding-top: 16px;
  	font-weight: bold;
  	&:first-child {
  		padding-top: 0;
  	}
  }
  textarea {
  	padding: 8px;
  	resize: none;
  }
  .actions {
  	text-align: center;
  }
  .inline {
  width: 32.3%;
  float: left;
  margin-bottom: 16px;
  &.middle {
    margin-left: 7px;
  }
  &.right {
    float: right;
  }
}
}

.shortcuts-box {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin: -250px -250px;
  z-index: 100;
  display: none;
}

.body-fade {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255,255,255,0.7);
  display: none;
}



