<% if user_signed_in? %>
	<footer>
		<ul class="left">
			<!--<li><%# "&#169; #{Time.now.year} TrackTrack".html_safe %></li>-->
			<li><%= mail_to "luke@tracktrack.co", "Feedback", subject: "Feedback" %></li>
		</ul>
		<ul class="middle">
			<li><%= link_to "Diet", diet_path, data: { keybinding: "d" } %></li>
			<li><%= link_to "Cardio", cardio_path, data: { keybinding: "c" } %></li>
		</ul>
		<ul class="right">
			<li class="coin">
				<span class="heads"><%# link_to "Site Credit", "http://macauley.co" %></span>
				<span class="tails"><%# link_to "Macauley", "http://macauley.co" %></span>
			</li>
		</ul>
	</footer>
<% end %>